body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  background-color: lightblue; 
}

header {
  background-color: lightpink;
  color: white;
  text-align: center;
  padding: 20px;
  border: 20px; 
}

.dice {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 20px auto;
  border-radius: 10px;
  animation: pulse 1s infinite alternate;
}

button {
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #3e8e41;
  transform: scale(1.1);
}

#result {
  font-size: 30px;
  text-align: center;
  margin: 20px auto;
  animation: fade-in 1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}